{% extends 'base.html.twig' %}

{% block body %}
 <!-- Page Header -->
  <header class="masthead" style="background-image: url('/img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ id_post.title | capitalize }}</h1>
            <h2 class="subheading">{{ id_post.id }}</h2>
            <span class="meta">Posté par {{ id_post.author | capitalize }} le {{ id_post.date|date("m/d/Y") }}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
        {{ id_post.content }}
        </div>
      </div>
    </div>
  </article>
{% endblock %}
