{% extends 'base.html.twig' %}

{% block title %}Création d'un post{% endblock %}

{% block body %}
    <header class="masthead" style="background-image: url('/img/post-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
                <h1>{{' Création d'}}'{{'un post '}}</h1>
            </div>
            </div>
        </div>
        </div>
    </header>

    {# {{ include('post/_form.html.twig') }} #}
    <form class="post_form" method="post" action="{{ path('post_new') }}">
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.title, 'Titre ') }}{{ form_widget(form.title, {attr:{class:'form-control'}}) }}  
        </div>
        <div class="form-group">
            {{ form_label(form.Content, 'Contenu ') }}{{ form_widget(form.Content, {attr:{class:'form-control', 'rows':10}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.Date, 'Date ', {label_attr:{class:'label_da'}}) }}{{ form_widget(form.Date, {attr:{class:'form-control form_da'}}) }}
            {{ form_label(form.Author, 'Auteur ', {label_attr:{class:'label_da'}}) }}{{ form_widget(form.Author, {attr:{class:'form-control form_da'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.Picture, 'Url de l\'image ') }}{{ form_widget(form.Picture, {attr:{class:'form-control'}}) }}
        </div>
        <button type="submit" class="btn btn-primary">{{ button_label|default('Créer') }}</button>
        {{ form_end(form) }}
    </form>

    <div class="return_admin_list_div">
        <a href="{{ path('post_admin') }}">
            <button class="btn btn-primary">Retour</button>
        </a>
    </div>
{% endblock %}
